@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(78deg, #0A3A40,  #1D7373);
    background-attachment: fixed;
}
main {
    background-color: aliceblue;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow:5px 5px 15px #011c36;
}
h1 {
    color: #84B026;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(32, 61, 15);
}
h2 {
    color: #03A63C;
}
p {
    text-align: justify;
}