@charset "UTF-8";
body {
    background-color: black;
}
h1 {
    margin-left: 100px;
    color: azure;
}
img {
    margin-left: 240px;
    margin-top: 45px;
}
img {
    margin-top: 30px;
}
img {
    margin-left: 40px;
}
img {
    margin-bottom: 5px;
}

